<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>
    <h1>Iniciar sesión</h1>
    <form action="/registrar_estudiantes" method="post">
        <label for="Usuario">Usuario:</label>
        <input type="text" name="Usuario" required><br>
        <label for="Passwords">Contraseña:</label> <!-- Cambiado de "Password" a "Passwords" -->
        <input type="password" name="Passwords" required><br> <!-- Cambiado de "Password" a "Passwords" -->
        <input type="submit" value="Iniciar sesión">
    </form>
</body>
</html>
