<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>
    <h1>Iniciar sesión</h1>
    <form action="/users" method="post" enctype="application/x-www-form-urlencoded">
        <label for="usuarios">Usuario:</label>
        <input type="text" name="usuarios" required><br>
        <label for="passwords">Contraseña:</label> 
        <input type="password" name="passwords" required><br> 
        <input type="submit" value="Iniciar sesión">
    </form>
    
</body>
</html>
