

body{
    font-family: 'Roboto';
    
    background-color: #3d34c0;
}
h1{
    text-align: center;
    
}


form {
    max-width: 400 px;
    margin: 0 auto;
    padding: 20px;

}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
input[type="button"]{
    background-color: #007bff;
    color: white;
    border: none;
    padding:10px 20px ;
    cursor: pointer;

}

input[type="button"]:hover{
    background-color:#0056b3;

}
input[type="submit"]:hover {
    background-color: #0056b3;
}
